#gridContainer {
            display: grid;
            grid-template-columns: repeat(20, 20px);
            grid-template-rows: repeat(20, 20px);
            gap: 1px;
        }
        .cell {
            width: 20px;
            height: 20px;
        }
        .alive {
            background-color: red;
        }
        .dead {
            background-color: green;
        }
        .poison {
            background-color: purple;
        }
        .food {
            background-color: yellow;
        }
        ul {
            font-size: 18px;
        }
#start,
#clear,
#random {
    padding: .75em;
    border-radius: 5px;
    border: none;    
    background: linear-gradient(
        to bottom right,
        #C5DEC6, #587559);
}
